*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
    font-family: "Brush 2";
    src: url('./assets/fonts/Brush2-Regular.ttf');
    src: url('./assets/fonts/Brush2-Regular.otf');
}
.brush-font {
    font-family: 'Brush 2', sans-serif
}

header {
  background-color: white;
  font-family: sans-serif;
  width: 100%;
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-transform: uppercase;
}

body {
  overflow-y: scroll;
  max-width: 1000px;
  min-height: 100vh;
  padding: 10px;
  margin: 0px auto;
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer {
  position: relative;
  clear: both;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
  color: #cccccc;
  font-family: sans-serif;
  border-radius: 5px;
  width: 100%;
  padding-top: 5px;
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
  font-family: 'Brush 2', sans-serif;
  color: #E87596;
}

h2 {
  font-family: 'Brush 2', sans-serif;
  color: #A47BBB;
}

.card {
  margin: 0px 0px;
  padding: 0px;
}

.card img {
  border-color: #eee;
  border-style: dashed;
  width: 100%;
  height: auto;
  padding: 6px;
  margin: 6px 0px;
}

.card-gif {
  margin: 0px 0px;
  padding: 0px;
}

.card-gif img {
  width: 100%;
  height: auto;
  padding: 3px;
  margin: 3px 0px;
}

.noscript-card {
  border-radius: 1px;
  border-color: #eee;
  border-style: dashed;
  width: 100%;
  height: auto;
  padding: 20px;
  margin-bottom: 20px;
}

.noscript-gif-card {
  width: 100%;
  height: auto;
  padding: 5px;
  margin-bottom: 5px;
}

.update-message p {
  color: #888; 
  font-style: italic; 
  font-size: 10pt;
  text-align: right;
}

/* Style all font awesome icons */
.social {
  padding-top: 5px;
  line-height: 0px;
  text-align: center;
  color: white;
  background-color: #333;
}

.social a{
  text-decoration: none;
  padding-left: 3px;
  padding-right: 3px;
}

/* Add a hover effect if you want */
.social a:hover,
.social a:focus {
  opacity: 0.7;
}

/* Add a hover effect if you want */
.social img {
  width: 50px;
  height: 50px;
  margin: 5px;
}

.navbar {
  border-radius: 5px;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
}

.brand-title {
  font-size: 1rem;
  margin: 0px;
  margin-top: 1px;
  align-content: center;
}

.brand-title a img {
  padding-top: 5px;
  width: 80px;
  height: 80px;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 6px 0px;
}

.navbar-links li {
  list-style: none;
  margin: 6px;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  margin: 3px 3px;
  color: white;
  padding: 0.5rem;
}

.navbar-links li:hover,
.navbar-links li:focus {
  border-radius: 5px;
  background-color: #555;
}

.toggle-button {
  position: absolute;
  top: 2px;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 50px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  margin-top: 15px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.toggle-button:hover,
.toggle-button:focus {
  background-color: grey;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#copyMessage {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #666; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 5px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  top: 25%; /* 25% from the top */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#copyMessage.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  animation: fadein 0.5s, fadeout 0.5s 2s;
}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeout {
  from {opacity: 1;}
  to {opacity: 0;}
}    

@media (max-width: 640px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: 1rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}